{% extends 'base.html.twig' %}

{% block title %}Hello TwigController!{% endblock %}

{% block body %}

<div class="container">
    <h4>text de la variable : {{ text }}</h4>
    <p>resultat = {{ result }}</p>
    <p>{{ direct }}</p>
    <ul>
        {% for item in tableau %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <p>date du jour : {{ date_jour|date("m/d/Y") }}</p>
</div>

{% endblock %}
