
{{ form_start(form) }}
    {# {% if alert %}
        <div class="alert alert-success" role="alert">
           {{ alert }}
        </div>
    {% endif %} #}

    <div class="">{{ form_row(form.titre) }}</div>

   {#  {% if user is not empty %}
        <div class="">{{ form_row(form.destinataire, {attr: { value : user.nom ~" "~ user.prenom }}) }}</div>
    {% else %}
        <div class="">{{ form_row(form.destinataire) }}</div>
    {% endif %} #}

    <div class="">{{ form_row(form.contenu) }}</div>

    <button class="btn btn-success">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
